body {
    /* 기본 폰트 지정 */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    height: 100vh;
    /* 뷰포트 높이 전체 사용 */
    background: #faf8ef;
    /* 배경 색상 설정 */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

h1{
    color: #7d7267;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* 1등부터 3등까지 특별한 배경색 적용 */
tr:nth-child(-n+3) {
    background-color: #ffd700;
    /* 금색 - 1등 */
}

tr:nth-child(2) {
    background-color: #c0c0c0;
    /* 은색 - 2등 */
}

tr:nth-child(3) {
    background-color: #cd7f32;
    /* 동색 - 3등 */
}

tr:hover {
    /* background-color: #f5f5f5; */
    /* 마우스 오버 시 강조 */
}